#navigator-throbber {
    width: 36px !important;
    height: 36px !important;
    padding: 2px !important;
    background-color: -moz-Dialog !important;
    box-shadow: inset -1px -1px 0 ThreeDDarkShadow, inset 1px 1px 0 ThreeDHighlight, inset -2px -2px 0 ThreeDShadow, inset 2px 2px 0 ThreeDLightShadow !important;
    align-self: center !important;
    list-style-image: url("chrome://collabra/content/images/throbber/throbber.png") !important;

    &[busy="true"] {
        list-style-image: url("chrome://collabra/content/images/throbber/throbber-busy.png") !important;
    }

    &:hover:active {
        box-shadow: inset -1px -1px 0 ThreeDHighlight, inset 1px 1px 0 ThreeDDarkShadow, inset -2px -2px 0 ThreeDLightShadow, inset 2px 2px 0 ThreeDShadow !important;
    }
}